/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #0e4f3f; /* Dark teal background */
    color: #551d1a; /* Deep burgundy background for text */
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Styling for the main heading */
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #551d1a
}

/* Styling for the paragraphs */
p {
    font-size: 1.2em;
    color: #875636; /* Muted brown for paragraph text */
    margin: 10px 0;
}

/* Video container styling */
.video-container {
    margin-top: 20px;
    position: relative;
    width: 80%; 
    height: 0;
    padding-bottom: 28.125%; 
    margin: 0 auto; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

